* {
  box-sizing: border-box;
}

:root {
  background-color: #efefef;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0; /* Reset the default margin */
}

.page-container {
  margin-top: 80px;
  height: calc(100vh - 80px);
  width: 100vw;
}


.user-info h1 {
  display: inline-block;
  margin-right: 10px;
}

.user-info h1:not(:last-child)::after {
  content: "| ";
}

.navbar {
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Stick it to the top */
  left: 0; /* Stretch it to the left */
  right: 0; /* Stretch it to the right */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: green;
  padding: 20px 10px;
  height: 80px;
  z-index: 1; /* Add a higher z-index to ensure it appears above other content */
}

.btn-home {
  color: #fff;
  font-size: large;
  text-decoration: none;
  justify-self: flex-start;
  margin-right: 15px;
}

.btn-home:hover {
  cursor: pointer;
}

.brand {
  margin: 0;
  color: #fff;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

