.property-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .property-box {
    display: flex;
    border: 2px solid #0c5a21;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    margin-bottom: 20px;
    background-color: #b6cfbc;
  }
  
  .property-info {
    width: 50%;
    display: flex;
  }
  
  .left-half,
  .right-half {
    flex: 1;
  }
  
  .ratings-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .property-info h3 {
    margin-top: 0;
  }
  
  .property-info p {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }
  
  .property-info p .star-rating {
    color: #c19f18;
    margin-left: 5px;
  }
  
  .written-review h3 {
    margin-top: 0;
  }
  
  .written-review p {
    margin-bottom: 8px;
  }

  .overall-rating {
      font-weight: bold;
  }
  